---
layout: default
active: home
---
	
	<div id="main">
		
		
		<section id="about">	
			<img src="{{site:baseurl}}/resources/card.jpg" alt="background image" class="bg" />
			
			<div class="info">	
				<h1>ScreenCasterz</h1>
				
				<p>Welcome to the official ScreenCasterZ website. ScreenCasterZ is a YouTube Channel dedicated to bringing you the best YuGiOh content on the Internet. Check out some of Jager-M's videos <a href="https://www.youtube.com/channel/UCccyO6vSekh7QICZCRs270g/featured">here.</a></p>

				<p>This is the definitive channel for news, tips, discussions, deck profiles, and all things Yu-Gi-Oh! I hope you enjoy watching as much as I do making the videos. As always, my name is Jager-M, and I approve this amazing channel.</p>
				
				<div class="g-ytsubscribe" data-channelid="UCccyO6vSekh7QICZCRs270g" data-layout="default" data-count="default"></div>
			</div>
		</section>



		<section id="social">

			<article class="col even">
				<img src="{{site:baseurl}}/resources/youtube.png" alt="Youtube Channel" class="col-image"/>
				<h4>YouTube</h4>
				<p>I make YouTube videos about everything related to YuGiOh.</p>
				<a href="https://www.youtube.com/channel/UCccyO6vSekh7QICZCRs270g/featured" class="button">YouTube</a>
			</article>

			<article class="col odd">
				<img src="{{site:baseurl}}/resources/facebook.png" alt="Facebook" class="col-image"/>
				<h4>Facebook</h4>
				<p>Join the Facebook group for regular channel updates.</p>
				<a href="https://www.facebook.com/ScreenCasterz?_rdr=p" class="button">Facebook</a>
			</article>

			<article class="col even">
				<img src="{{site:baseurl}}/resources/twitter.png" alt="Twitter" class="col-image"/>
				<h4>Twitter</h4>
				<p>Follow me on Twitter for a exclusive look inside my weird head.</p>
				<a href="https://twitter.com/ScreenCasterz" class="button">Twitter</a>
			</article>

			<article class="col odd">
				<img src="{{site:baseurl}}/resources/googleplus.png" alt="Google Plus" class="col-image"/>
				<h4>Google+</h4>
				<p>Check out the official Google+ page for even more YuGiOh content.</p>
				<a href="https://plus.google.com/117460655515465020972" class="button">Google+</a>
			</article>
		</section>


		<section id="blog">
			<div class="desc">
				<h3>Blog</h3>
				<p>I also write about YuGiOh, life, and everything in between.  My blog is updated weekly. I often have guest writers on my blog, which means extra awesome content for you guys! Follow me on Twitter for updates when a new blog post goes live.</p>
				<p>This week {% for post in site.posts limit:1 %} {{ post.author }} {{ post.description }} {% endfor %}</p>
				<a href="{{site.baseurl}}/blog.html" class="button">All Posts</a>
			</div>
			
			<div class="showcase">
				{% for post in site.posts limit:1 %}
					
					<h4 class="title">{{post.title}}</h4>
					<p class="author">{{post.author}} - {{ post.date | date: "%-d %B %Y"}}</p>
					<p class="excerpt">{{post.excerpt}}</p>

				{% endfor %}
				<div class="continue">
					{% for post in site.posts limit:1 %}
					<a href="{{ site.baseurl }}{{post.url}}" class="button">Read More</a>
					{% endfor %}
				</div>
			</div>

			<div style="clear: both"></div>

		</section>

	</div>