	<nav>

        <ul>
            {% if page.active == "home" %}
			    <li><a href="{{site:baseurl}}/index.html" id="current">Home</a></li>
            {% else %}
                <li><a href="{{site:baseurl}}/index.html">Home</a></li>
            {% endif %}

            {% if page.active == "blog" %}
			    <li><a href="{{site.baseurl}}/blog/index.html" id="current">Blog</a></li>
            {% else %}
                <li><a href="{{site.baseurl}}/blog/index.html">Blog</a></li>
            {% endif %}
		</ul>
            
	</nav>