/*CARD + DESCRIPTION*/
#main 
    max-width: 900px
    display: block
    margin: 0 auto
    padding: 10px 0
    background-color: $nav-color  

    .bg 
        width: 30%
        margin-right: 4%
        display: inline

.info 
    display: inline-block
    padding: 20px 20px
    width: 65%
    vertical-align: top

    h1 
        font-family: $heading
        font-size: 2.5em
        font-weight: normal
        margin: 0 0 25px 0
        letter-spacing: 1px
        color: $heading-color
    p
        font-family: $text
        line-height: 1.3em
        font-size: 1.2em
        margin-bottom: 20px
        color: $text-color
    div
        position: relative
        top: 15px

/*SOCIAL*/

#social
    margin: 40px 0

    h3
        font-family: $heading
        font-size: 2em
        font-weight: normal
        letter-spacing: 1px
        margin: 30px 0
        color: $heading-color

    .col
        display: inline-block
        width: 20%
        vertical-align: top
        text-align: center
        border: 1px solid $text-color

        .col-image
            width: 100%

        h4
            @extend h3
            font-size: 1.5em
            text-align: center
        
        p
            font-family: $text
            line-height: 1.3em
            padding: 0 5px
            color: $text-color
            text-align: center
            margin-bottom: 25px

        a
            font-family: $nav
            position: relative
            top: 10px
            text-decoration: none
            padding: 5px 10px
            border: 1px solid $text-color
            background-color: $nav-color
            color: $text-color

            &:visited
                @extend a

            &:hover
                border: 1px solid $accent-color
                background-color: $accent-color
                color: $nav-color

    
    .col:not(:last-child)
        margin-right: 6.2%

/*BLOG*/

#blog
    
    .desc
        display: inline-block
        float: left
        width: 33%

    .showcase
        display: inline-block
        width: 65%

    h3
        font-family: $heading
        font-size: 2em
        font-weight: normal
        letter-spacing: 1px
        margin: 50px 0 20px 0
        color: $heading-color
    p
        font-family: $text
        font-size: 1em
        line-height: 1.3em
        padding: 0 5px
        color: $text-color
        text-align: center
        margin-bottom: 25px

