
#main 
    width: 900px
    display: block
    margin: 0 auto
    padding: 10px 0
    background-color: $nav-color  

    .bg 
        width: 30%
        margin-right: 4%
        display: inline

    .info 
        display: inline-block
        padding: 20px 20px
        width: 65%
        vertical-align: top

        h3 
            font-family: $heading
            font-size: 2.5em
            font-weight: normal
            margin: 0 0 25px 0
            letter-spacing: 1px
            color: $heading-color
        p
            font-family: $text
            line-height: 1.3em
            font-size: 1.2em
            margin-bottom: 20px
            color: $text-color
        div
            position: relative
            top: 15px