@media screen and (min-width: 320px)
    
    nav
        li:last-child
            margin-right: 30px
    
    #main
        padding: 0 35px

    #about
        .bg
            display: block
            width: 100%
            margin: 0 auto

        .info
            display: block
            padding: 0
            width: 100%
            margin-top: 35px

    #social
        
        .col
            width: 100%
            margin-top: 75px