@media screen and (min-width: 480px)
    #social

        .col
            display: inline-block
            width: 45%
        
        .odd
            margin-left: 9%


@media screen and (min-width: 600px)
    #about

        .bg
            width: 45%
            display: inline-block
            vertical-align: top
            margin-top: 40px

        .info
            width: 48%
            display: inline-block
            margin-left: 6%


@media screen and (min-width: 600px)
    #social

        .col
            width: 24%

        .odd
            margin: 0