nav
    height: 100px
    background-color: $nav-color
    padding: 0 20px
    display: block
    margin: 0 auto

    ul 
        height: 100%
        float: right

    li 
        position: relative
        top: 40%
        display: inline
        list-style: none
        color: white
        font-family: $nav

    #current
        background-color: $accent-color
        color: $nav-color
        /*Transition*/
        -webkit-transition: background-color 250ms ease-out .1s
        -moz-transition: background-color 250ms ease-out .1s
        -o-transition: background-color 250ms ease-out .1s
        transition: background-color 250ms ease-out .1s

    a 
        text-decoration: none
        padding: 5px 10px
        color: $text-color
        margin-left: 10px

        &:visited 
            color: $text-color

        &:hover 
            @extend #current
            color: $nav-color
