/*Color palette*/
$nav-color: #191E22
$main-color: #3F3F3F
$accent-color: #E46A68


/*Font Stacks*/
$heading: "Triforce", Helvetica, sans-serif
$text: Abel, Helvetica, sans-serif
$nav: PT Sans Narrow, Helvetica, sans-serif