---
layout: default
active: blog
---
    
<div id="main">
	
    <h1 class="blog-title">Blog</h1>

    {% include page_buttons.html position='top' %}

    {% for post in paginator.posts %}
    <div class="post">      
            <h4 class="title">{{ post.title }}</h4>
            <p class="author">{{ post.author }} - {{ post.date | date: "%-d %B %Y" }}</p>
            <p class="excerpt">{{ post.excerpt }}</p>
        <div class="read-more">
            <a href="{{ site.baseurl }}{{post.url}}" class="button">Read More</a>
        </div>
    </div>
    {% endfor %}

    {% include page_buttons.html position='bottom' %}

</div>